body{
    clear: both;
    margin: 0px;
    padding: 0px;
}

.menu{
    height: 60px;
    background: olivedrab;
    .user{
        width: 200px;
        float: right;
        color: black;
        margin-top: 10px;
    }
    .logout{
        float: right;
        color: black;
        margin-top: 35px;
    }
}

.content
{
    width: 60%;
    margin: 0 auto;
    padding-left: 5%;
    padding-top: 10%;
    .row{
        border-top: 1px solid black;;
        border-bottom: 1px solid black;
    }

}


